<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true">
<testsuites>
  <testsuite name="Json Pointer Test Suite">
    <directory>tests/</directory>
  </testsuite>
</testsuites>
</phpunit>
